<%- include("partials/headerAdults"); -%>

<body>

      <div class="container1">
            <div class=" part-1" id="part">
                <div class="image">
                <img height="300px" width="300px" src="https://wpcdn.us-east-1.vip.tn-cloud.net/www.hits96.com/content/uploads/2021/05/f/x/mental-health-040620.jpg" >
            </div>
             <div class="question">
                 <h3>What is mental health?</h3>
                 <br><br>
                 <h4>
                 “Mental health is a state of well-being in which an individual realizes his or her own
                 abilities, can cope with the normal stresses of life, can work productively, and is 
                 able to make a contribution to his or her community.”
                        </h4>
                  <p>The WHO stress that mental health is “more than just the absence of mental disorders or disabilities.” Peak mental health is about not only avoiding active conditions but also looking after ongoing wellness and happiness.</p>

                <p>They also emphasize that preserving and restoring mental health is crucial on an individual basis, as well as throughout different communities and societies the world over.</p>

                <p>In the United States, the National Alliance on Mental Illness estimate that almost 1 in 5 adults experience mental health problems each year.</p>

                <p>In 2017, an estimated 11.2 million adults in the U.S., or about 4.5% of adults, had a severe psychological condition, according to the National Institute of Mental Health (NIMH).</p>
             
            </div>
        </div>
            <div class=" part-2" id="part">
                <div class="image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5y3TPUC_ii-_XOwEQHUCyMRpV-Sp0OrgOZQ&usqp=CAU">
            </div><div class="question">
                <h3>Risk factors for Mental Health Conditions</h3>
                <br><br>
                <p>Everyone has some risk of developing a mental health disorder, no matter their age, sex, income, or ethnicity.</p>

                <p>In the U.S. and much of the developed world, mental disorders are one of the leading causes of disability.</p>

                <p>Social and financial circumstances, biological factors, and lifestyle choices can all shape a person’s mental health.</p>

                <p>A large proportion of people with a mental health disorder have more than one condition at a time.</p>

                <p>It is important to note that good mental health depends on a delicate balance of factors and that several elements of life and the world at large can work together to contribute to disorders.</p>

                <p>Having limited financial means or belonging to a marginalized or persecuted ethnic group can increase the risk of mental health disorders.</p>

                <p>he NIMH suggest that genetic family history can increase the likelihood of mental health conditions, as certain genes and gene variants put a person at higher risk.</p>
            </div>
            </div>
            
            <div class="part-3" id="part">
                <div class="image">
                    <img src="https://www.childrens.com/wps/wcm/connect/childrenspublic/21a96ce3-7a88-440d-b754-899bfdf1a707/MythsInfographic-%28002%29_800.jpg?MOD=AJPERES&CVID=">
                </div>
                <div class="question">
                    <h3>Common Mental Health Disorders</h3>
                    <br><br>
                    <h4>The most common types of mental illness are as follows: </h4>
                    <ul>
                        <li>
                            <h4>Anxiety Disorders</h4>
                            <p>People with these conditions have severe fear or anxiety, which relates to certain objects or situations. Most people with an anxiety disorder will try to avoid exposure to whatever triggers their anxiety.People with a panic disorder experience regular panic attacks, which involve sudden, overwhelming terror or a sense of imminent disaster and death</p>
                        </li>
                        <li>
                            <h4>Mood disorders</h4>
                            <p>People may also refer to mood disorders as affective disorders or depressive disorders.

                            People with these conditions have significant changes in mood, generally involving either mania, which is a period of high energy and elation, or depression.</p>
                        </li>
                        <li>
                            <h4>Schizophrenia disorders</h4>
                            <p>People may also refer to mood disorders as affective disorders or depressive disorders.

                            People with these conditions have significant changes in mood, generally involving either mania, which is a period of high energy and elation, or depression.</p>
                        </li>
                    </ul>
                </div>
            </div>
                <div class="part-4" id="part">
                    <div class="image">
                        <img src="https://www.tgacademy.org.uk/files/2020/09/Mental-Health.png">
                    </div>
                    <div class="question">
                        <h3>Early Signs</h3>
                        <br><br>
                    <p>There is no physical test or scan that reliably indicates whether a person has developed a mental illness. However, people should look out for the following as possible signs of a mental health disorder:</p>
                    <ul>
                        <li>withdrawing from friends,family and colleagues</li>
                        <li>sleeping too much</li>
                        <li>eating too much or too little</li>
                        <li>feeling hopeless</li>
                        <li>using mood altering substances,including alcohol and nicotine</li>
                        <li>hearing voices</li>
                        <li>being confused </li>
                        <li>experiencing delusions</li>
                    </ul>
                    </div>      
                </div>

                <section class="FAQ__list__container">
           <h1 class="FAQ__heading">Blogs</h1>
          <div class="FAQ__list">
          <div class="FAQ__accordian">
            <button class="FAQ__title">
              Need to Control Your Mind<i class="fal fa-plus"></i>
            </button>
            <div class="FAQ__visible">
                <p></p>
              <p style="color: #ffff;">
                Negative thinking begins with one little thought. It’s a trigger that sets off an explosion, like a tiny pebble breaking away on a snowy mountainside crumbling into an avalanche, tumbling out of control. In a flash, you are buried underneath and can’t get out.
              </p>
              <p style="color: #ffff;">
                Every day is filled with many opportunities to let negative thinking rule your life and destroy your happiness.

                Taking control of your thoughts is a skill you must develop if you want a happy life.

                Negative thoughts cannot be stopped. However, you can control how long they stay in your head.

                You control your mind. You decide what you let in and what you kick out. 

                Mind Control is a character strength you need if you want a stable life.
              </p>
              <p style="color: #ffff;">Read more on <a href="https://junesilny.com/stop-negative-thoughts-5-benefits-of-mind-control/">Stop Negative Thoughts</a></p>
            </div>
          </div>
         <div class="FAQ__accordian">
            <button class="FAQ__title">
              Understanding the Mechanism of the Mind<i class="fal fa-plus"></i>
            </button>
            <div class="FAQ__visible">
              <p style="color: #ffff;">
                “The Basic Theory of the Mind” is a physical theory about the mind and its phenomena, such as consciousness and qualia. It also involves related matters including the hard problem of consciousness, the explanatory gap, variable qualia, p-zombies, and free will. This theory is a scientifically verifiable theory – it is based on physical evidence and provides experimentally testable predictions.
              </p>
              <p style="color: #ffff;">Read More on <a href="https://mindtheory.net/?gclid=CjwKCAjw092IBhAwEiwAxR1lRgPG1njWJ1Si0F2mcn7qohV-CB-iS304ErFsa34idCZ6_VomwL8boxoC5EwQAvD_BwE">The Basic Theory of Mind</a></p>
            </div>
          </div>
          <div class="FAQ__accordian">
            <button class="FAQ__title">
              Methods of Mind Control<i class="fal fa-plus"></i>
            </button>
            <div class="FAQ__visible">
              <p style="color: #ffff;">
               Your first line of defense is the “distraction method.” A tactic used by parents of young children. Frustrated and unable to stop a crying child because his favorite blankie was left in the restaurant, the parents introduce a bright and shiny new object to take the child’s attention away from his sadness.
              </p>
              <p style="color: #ffff;">
                Are you a binge-watcher finding relief sitting in front of the TV for hours; watching zombies, politics, or the sword fights in Westeros?  Completely absorbed, there is no mental space for a single negative thought to enter. </p>

                <p style="color: #ffff;">Sadly, some binge behaviors become harmful. It’s easy to start over-using alcohol, drugs, food, video games, gambling, work, shopping, and yes, even the internet. Thanks to technology, we never have to be alone with our obsessive minds.</p>

                <p style="color: #ffff;">Have you ever tried to stop your negative thoughts eating a bag of potato chips or a pint of Talenti ice cream until you feel so full, that all you can think of is how gross you feel? Which only results in feeling bad about yourself because you have no control over your impulses.</p>

                <p style="color: #ffff;">At that point, you are so far removed from your original negative thought; you can’t even remember what it was. Yes! The distraction was successful.
              </p>
              <p style="color: #ffff;">Read More on<a href="https://junesilny.com/stop-negative-thoughts-5-benefits-of-mind-control/"> Stop Negative Thoughts</a></p>
            </div>
          </div>
      </div>
      </section>
      </div>

      <script>let accordian = document.getElementsByClassName("FAQ__title");

        for (let i=0;i<accordian.length;i++)
        {
          accordian[i].addEventListener("click",function () {
        
            if(this.childNodes[1].classList.contains("fa-plus")){
              this.childNodes[1].classList.remove("fa-plus");
              this.childNodes[1].classList.add("fa-times");
            }
            else
            {
              this.childNodes[1].classList.remove("fa-times");
              this.childNodes[1].classList.add("fa-plus");
            }
            //height
            let content=this.nextElementSibling;
            if(content.style.maxHeight)
            {
              content.style.maxHeight=null;
            }
            else
            {
              content.style.maxHeight=content.scrollHeight+"px";
            }
          });
          
        }</script>

</body>

<style>
   @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body 
  {
  margin: 0; 
  padding: 0;
  background-color: white;
  opacity: 0.7;
  align-items: center;
  font-family: 'nunito',sans-serif;
  }
  .container1
  {
      margin:170px;
      margin-top:130px;
      padding:10px;
      align-items: center;
      display: flex;
      flex-direction:column;
      color: whitesmoke;
      background-color: #1b99dd;
      box-shadow: 3px 3px 10px #888888;
  }

 .container1 #part 
{
 display:inline-flex;
 margin: 20px;
}

  .container1 #part img{
    width: 300px;
    height: 300px;
    margin:  20px;
    box-shadow: 10px 10px  8px #b4b3b3;
    align-self: center;
  }
  .image
  {
    margin-top: 50px;
  }
  .container1 #part-> h3
  {
    text-align: left;
    font-weight: 800;
  }

  .question
  {
    margin: 20px;
    padding: 10px;
    text-align: left;
  }
 .FAQ__accordian {
width: 100%;
}
.FAQ__title {
width: 100%;
display: flex;
justify-content: space-between;
padding: 15px 20px;
font-size: 18px;
background-color: #303030;
border: 1px solid #303030;
color: white;
}

.FAQ__visible {
background-color: #303030;
border-top: 1px solid black;
max-height: 0;
overflow: hidden;
transition: max-height 0.5s ease-in-out;
}

.FAQ__visible > p {
margin: 1rem;
}
.FAQ__list__container {
border-top: 8px solid #222;
padding: 2rem 0;
}
.FAQ__heading {
font-size: 20px;
text-align: center;
font-weight: 600;
margin: 1rem 3rem;
}

.FAQ__list {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}

</style>

<%- include("partials/footer"); -%>