<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    

     <!-- Font Awesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
     <!-- custom stylesheet -->
     <link rel="stylesheet" href="/css/custom.css">
     <link href="/assets/css/styles.css" rel="stylesheet">
     <script src="/assets/js/main.js"></script>
     

    <title>Our Courses</title>
  </head>

  <style>
      .bg-banner
      {
          background-image: url("https://www.zenefits.com/workest/wp-content/uploads/2018/12/bigstock-221705500-e1544646219890-790x444.jpg");
      }

      .end
      {
          border-bottom: 1px solid gray;
      }
  </style>
  <body class="bg-light">
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container">
          <div class="header-container d-flex align-items-center justify-content-between">
            <div class="logo">
              <h1 class="text-light"><a href="index.html"><span>MINDY</span></a></h1>
              <!--<a href="index.html"><img src="/assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>
    
            <nav id="navbar" class="navbar">
              <ul>
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li><a class="nav-link scrollto" href="/read-more">About</a></li>
                <li><a class="nav-link scrollto" href="/kids#services">Consult</a></li>
                <li><a class="nav-link scrollto " href="/kids#portfolio">Blogs/Journals</a></li>
                <li><a class="nav-link scrollto" href="/kids#team">Contact</a></li>
                <li class="dropdown"><a href="/kids#services"><span>More</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href="#">Courses</a></li>
                    <li class="dropdown"><a href="#"><span>Mind Games</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                        <li><a href="/games">Kids</a></li>
                        <li><a href="/gamesAdults">Adults</a></li>
                        <li><a href="/gamesmid">Middle Aged</a></li>
                        <li><a href="/gamesmid">Senior citizens</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Mood Tracker</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Meditation Mode</a></li>
                  </ul>
                </li>
                <li><a class="getstarted scrollto" href="/api/users/login">Login</a></li>
              </ul>
              <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
    
          </div><!-- End Header Container -->
        </div>
        <br>
      </header><!-- End Header -->

    <!-- Body starts here -->
    <div class="jumbotron mb-0 bg-banner" style="height:500px; padding-top:150px">
        <div class="container">
            <div class="row align-items-end">
                <div class="col">
                    <div class="col-md-4 text-dark">
                        <h1 class="display-5">Mental Health Courses</h1>
                        <p class="lead">Get the best outreach courses!</p>
                    </div>
                    <div class="col-md-6">  
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control form-control-lg col-9 border-right-0 rounded-radius-left" type="search" placeholder="what do you want to learn!" aria-label="Search">
                            <button class="btn btn-lg btn-primary border-left-0 rounded-radius-right col-2 my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="color-grad text-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <i class="fa fa-play-circle mr-3"></i>
                        <div class="media-body">
                            <h5 class="mt-0">Fresh Content</h5>
                            <p>Choose from 65,000 courses with new additions published every month!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <i class="fa fa-certificate mr-3"></i>
                        <div class="media-body">
                            <h5 class="mt-0">Trusted Instructors</h5>
                            <p>Take courses taught by industry experts around the world!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <i class="fa fa-spinner mr-3"></i>
                        <div class="media-body">
                            <h5 class="mt-0">Flexible Learning</h5>
                            <p>learn on your terms with lifetime course access </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h3><small class="text-muted">MENTAL HEALTH COURSES FOR CHILDREN</small></h3>
        <div class="card-deck">
            <div class="card mx-1">
                <img class="card-img-top" src="https://www.childrensdevelopmentspecialist.co.uk/wp-content/uploads/child-development-specialist-scaled.jpeg" alt="image">
                <div class="card-body px-2">
                    <a href="https://durhamcollege.ca/academic-schools/centre-for-professional-and-part-time-learning/programs-and-courses/courses/course?subj=CHLD&crse=2380&camp=I"><h6 class="card-title">Child Development I</h6></a>
                    <p class="card-text" style="font-size:11px">In this course, students explore major theoretical approaches, themes, and methods of studying child development. Students will examine factors that influence the development from conception to age 2. With knowledge and understanding of child development, students will be assisted in preparing developmentally appropriate programming and with guiding children’s behaviour.</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.5 (18,560)</small>
                         
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                  <img class="card-img-top" src="https://cdn-wordpress-info.futurelearn.com/info/wp-content/uploads/93e85169-4f3c-4b4b-8f8f-45956f4e2eb7-3.jpg" alt="image">
                <div class="card-body px-2">
                    <a href="https://durhamcollege.ca/academic-schools/centre-for-professional-and-part-time-learning/programs-and-courses/courses/course?subj=CHLD&crse=1084&camp=J"><h6 class="card-title">Cognitive Development, Trauma and Loss - Children's Health Focus
                    </h6></a>
                    <p class="card-text" style="font-size:11px">Learners will determine the effects of trauma on cognitive development of infants, children and adolescents. Students will also identify those children with trauma histories in order to limit the potential triggers within the therapeutic environment. The theories of loss and grief, as these relate to the infant, child and adolescent population will be explored throughout the course</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.5(17,060)</small>  
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <img class="card-img-top" src="https://www.pennmedicine.org/news/-/media/images/pr%20news/news/2018/august/satterthwaite%20wheel.ashx" alt="image">
                <div class="card-body px-2">
                    <a href="https://durhamcollege.ca/academic-schools/centre-for-professional-and-part-time-learning/programs-and-courses/courses/course?subj=CHLD&crse=1087&camp=J"><h6 class="card-title">Family Relationships and Their Impact on Psychiatric Disorders
                    </h6></a>
                    <p class="card-text" style="font-size:11px">Students will examine the interconnectedness of family relationships and their effect on common abnormal psychiatric disorders in the infant, child and adolescent populations. This course will review the developmental stages, familial structures and family functions through the lens of family systems theory. Students will also explore the environmental effects and their influences on the family as a dynamic entity.</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        5.0(20,000)</small>
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <img class="card-img-top" src="https://www.news-medical.net/image.axd?picture=2021%2F3%2Fshutterstock_608819573.jpg" alt="image">
                <div class="card-body px-2">
                    <a href="https://durhamcollege.ca/academic-schools/centre-for-professional-and-part-time-learning/programs-and-courses/courses/course?subj=CHLD&crse=1086&camp=J"><h6 class="card-title">Risk Factors of Common Psychiatric Disorders in the Infant, Child and Adolescent Population</h6></a>
                    <p class="card-text" style="font-size:11px">Students will recognize the risk factors and triggers associated with common psychiatric disorders in the infant, child and adolescent population. Early identification and awareness of the behaviours will enable the student to appropriately identify and assess the situation at hand.</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        4.0 (18,560)</small>
                        
                    </p>
                </div>
            </div>

            
        </div>
    </div>
    
    <div class="container mt-5">
        <h3><small class="text-muted">MENTAL HEALTH COURSES FOR ADULTS</small></h3>
        <div class="card-deck">
            <div class="card mx-1">
                <img class="card-img-top" src="https://www.sheknows.com/wp-content/uploads/2020/08/quick-mindfulness-tricks.png" alt="image">
                <div class="card-body px-2">
                    <a href="https://www.coursera.org/learn/foundations-of-mindfulness-ii-living-with-balance-and-ease"><h6 class="card-title">Mindfulness and Well-being: Living with Balance and Ease</h6></a>
                    <p class="card-text" style="font-size:11px">This is the sequel course to Foundations of Mindfulness that will continue to provide a broad overview of the fundamental concepts, principles, and practices of mindfulness. With interactive exercises to help students explore their own attitudes, mental habits and behaviors, Foundations of Mindfulness series offers a pathway for living with more freedom, authenticity and ease. Featured components of the course include experiential exercises, guided meditations, personal reflection and interactive discussions. </p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        5.0(18,560)</small>
                        
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <img class="card-img-top" src="https://media.wired.com/photos/59d6b0848941a6378d5bb26e/master/w_2560%2Cc_limit/mindfullness-TA.jpg" alt="image">
                <div class="card-body px-2">
                    <a href="https://www.coursera.org/learn/positive-psychiatry"><h6 class="card-title">Positive Psychiatry and Mental Health</h6></a>
                    <p class="card-text" style="font-size:11px">In today’s world, mental illness and distress are common and these account for a significant burden of disability within our community. At the same time, there is a growing interest in understanding and enhancing positive mental health and wellbeing; particularly from developments in the fields of positive psychology and mental health promotion.  Positive Psychiatry is a new term (Jeste et al 2016) that describes a dual approach to mental health, where we build strengths,  supports and healthy lifestyles as well as treating illness and distress.</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        4.8(18,500)</small>
                        
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <img class="card-img-top" src="https://thumbs.dreamstime.com/b/brain-mind-mindfulness-concept-illustration-vector-background-poster-leaves-nature-brain-mind-mindfulness-148204724.jpg" alt="image">
                <div class="card-body px-2">
                    <a href="https://www.coursera.org/learn/life101"><h6 class="card-title">Life 101: Mental and Physical Self-Care</h6></a>
                    <p class="card-text" style="font-size:11px">This course will cover various topics that would teach students healthy lifestyle choices, the importance of mental and physical health and self-care. For each topic, an evidence-based lecture that would include scientific evidence will be presented and then students will be provided practical methods to practice what they have learned from the lectures. One of the main goals of this course is to inspire students to adopt a healthy lifestyle.</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.7(19,460)</small>
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <img class="card-img-top" src="https://news.harvard.edu/wp-content/uploads/2018/06/Mindfulness-Study-1200x800.jpg" alt="image">
                <div class="card-body px-2">
                    <a href="https://www.coursera.org/learn/positive-psychology-resilience"><h6 class="card-title">Positive Psychology: Resilience Skills</h6></a>
                    <p class="card-text" style="font-size:11px">Learn how to incorporate resilience interventions into your personal and professional life with Dr. Karen Reivich. In this course, you are exposed to the foundational research in resilience, including protective factors such as mental agility and optimism. Several types of resilience interventions are explored including cognitive strategies; strategies to manage anxiety and increase positive emotions such as gratitude; and a critical relationship enhancement skill. Throughout the course, you will hear examples of individuals using resilience skills in their personal and professional lives.  Suggested prerequisites: Positive Psychology: Martin E. P. Seligman’s Visionary Science, Positive Psychology: Applications and Interventions and Positive Psychology: Character, Grit & Research Methods.</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.5 (16,969)</small>
                        
                    </p>
                </div>
            </div>
            
        </div>
    </div>

    <div class="container mt-5">
        <h3><small class="text-muted">MENTAL HEALTH COURSES FOR MIDDLE AGED PEOPLE AND SENIOR CITIZENS</small></h3>
        <div class="card-deck">
            <div class="card mx-1">
                <img class="card-img-top" src="https://www.publichealthpost.org/wp-content/uploads/2018/08/Medical-Cannabis-Mental-Health.jpg" alt="image">
                <div class="card-body px-2">
                    <a href="https://www.coursera.org/learn/mentalhealth-cannabis-cbd-thc"><h6 class="card-title">Cannabis, Mental Health, and Brain Disorders</h6></a>
                    <p class="card-text" style="font-size:11px">his Cannabis, Mental Health, and Brain Disorders course is designed to have you think critically about the health effects of cannabis (i.e., marijuana) in the context of several mental health and neurocognitive disorders. You'll be able to identify key features of several anxiety disorders (e.g., panic disorder, generalized anxiety disorder, social anxiety disorder, PTSD), major depression, schizophrenia, multiple sclerosis, epilepsy, traumatic brain injury, and Alzheimer's and Parkinson's Disease. You'll understand the etiology and risk factors for these disorders, recognize conventional treatments, and understand the influence of different cannabinoids such as THC and CBD on these disorders. Obtaining this knowledge will be helpful in terms of informing public policy, public health, and personal decisions regarding the use of cannabis products.</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        5.0(18,560)</small> 
                    </p>
                </div>
            </div>

           

            <div class="card mx-1">
                <img class="card-img-top" src="https://www.nami.org/NAMI/media/NAMI-Media/BlogImageArchive/2021/warning-signs-blog.jpeg" alt="image">
                <div class="card-body px-2">
                    <a href="https://www.coursera.org/learn/mental-health-emergencies"><h6 class="card-title">Chronically Ill in an Emergency: Why Mental Health Matters</h6></a>
                    <p class="card-text" style="font-size:11px">In humanitarian settings, mental ill-health is powerfully inter-connected with other non-communicable diseases (NCDs) such as cardiovascular diseases, cancers, diabetes and chronic respiratory diseases. Integrating mental health and psychosocial support (MHPSS) with NCD prevention and care might therefore be useful, both to be more effective, and to require fewer resources. There is, however, a lack of widely accepted guidelines that take this into account, and this course is intended to draw attention to that issue.</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        4.8(19,961)</small>
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <img class="card-img-top" src="https://lifesupportscounselling.com.au/wp-content/uploads/2017/05/Positive-pscyhology.png" alt="image">
                <div class="card-body px-2">
                    <a href="https://www.coursera.org/learn/positive-psychology-project"><h6 class="card-title">Positive Psychology Specialization Project: Design Your Life for Well-being</h6></a>
                    <p class="card-text" style="font-size:11px">his course, taught by Dr. Martin E.P. Seligman brings all the key concepts from the first four courses to practice as you develop and test a new positive intervention for an audience of your choice. You identify opportunities in your daily life to increase the wellbeing by using knowledge you developed in the first four courses of the Specialization. In this final project, you evaluate the efficacy of a positive intervention based on subjective and objective measures. Then, you compare how empirical and non-empirically-based positive interventions can be applied to influence a person's wellbeing. Lastly, you reflect on how the fundamental elements of research methods are important in the everyday application of positive psychology.</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.5 (16,000)</small>
                        
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/02/13/08/54/brain-2062049_1280.jpg" alt="image">
                <div class="card-body px-2">
                    <a href="https://www.coursera.org/learn/biohacking-your-brains-health"><h6 class="card-title">Biohacking Your Brain's Health</h6></a>
                    <p class="card-text" style="font-size:11px">With deteriorating health, particularly brain health, occurring at a global level, this course introduces you to methods for maximizing your brain's fitness through nutrition, exercise, meditation, and sleep. We'll debunk popular myths about prescribed practices for overall health and then uncover studies from the last few decades revealing practical routines and interventions that are proven to help improve the brain. You'll also get a glimpse at the brain's structure and common brain functions, as well as a "prescription" each week of tips for improving your brain's health.</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.5(17,891)</small>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>

    
    
    <div class="container mt-5">
        <h1><small class="text-muted">Learn More</small></h1>
        <div class="row">
            <div class="col-md-4">
                <a href="https://www.coursera.org/learn/talkmentalillness">
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded" alt="Image here" src="https://res.cloudinary.com/teepublic/image/private/s--LxGxyyDf--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_000000,e_outline:35/co_000000,e_outline:inner_fill:35/co_ffffff,e_outline:35/co_ffffff,e_outline:inner_fill:35/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_auto,h_630,q_90,w_630/v1588262213/production/designs/9659316_0.jpg">
                        <figcaption class="figure-caption text-center text-info">#talkmentalillness</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://www.coursera.org/learn/health-society-and-wellness-in-covid-19-times">
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded" alt="Image here" src="http://www.clarion.edu/student-life/health-fitness-and-wellness/office-of-health-promotions/wellness-wheel-2.png">
                        <figcaption class="figure-caption text-center text-info">Health,Society and Wellness in Covid-19 Times</figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://www.coursera.org/learn/sel-for-students">
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded" alt="Image here" src="https://www.betterup.com/hs-fs/hubfs/Imported_Blog_Media/emotional%20health%20examples%20-%20mental%20health%20wheel-1.png?width=1923&height=1999&name=emotional%20health%20examples%20-%20mental%20health%20wheel-1.png">
                        <figcaption class="figure-caption text-center text-info">A Path to Social Emotional Wellbeing</figcaption>
                    </figure>
                </a>
            </div>
        </div>

    </div>

    <div class="container end mt-5">
        <h3><small class="text-muted">Featured Topics</small></h3>
        <div class="row">
            <a href="https://www.healthline.com/health/bipolar-disorder/bipolar-1-vs-bipolar-2" class="btn btn-light shadow">BIPOLAR DISORDER</a>
            <a href="https://www.healthline.com/health/dysthymia" class="btn btn-light shadow mx-1">PERSISTENT DEPRESSIVE DISORDER</a>
            <a href="https://www.healthline.com/health/anxiety/generalized-anxiety-disorder" class="btn btn-light shadow mx-1">GENERALIZED ANXIETY DISORDER</a>
            <a href="https://www.healthline.com/health/ocd/social-signs" class="btn btn-light shadow mx-1">OBSESSIVE COMPULSIVE ORDER</a>
            <a href="https://www.healthline.com/health/post-traumatic-stress-disorder" class="btn btn-light shadow mx-1">POST-TRAUMATIC STRESS-DISORDER</a>
            <a href="https://www.healthline.com/health/schizophrenia-types" class="btn btn-light shadow mx-1">SCHIZOPHRENIA</a>
            <a href="https://www.healthline.com/health/anxiety/social-phobia" class="btn btn-light shadow mx-1">SOCIAL ANXIETY DISORDER</a>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  

    <script>
        $(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>

<%- include("partials/footer"); -%>