<%- include("partials/headerKids"); -%>

<style>
    body
    {
        background-image: url();
        background-size: contain;
        background-color: white;
        background-repeat: no-repeat;
        backdrop-filter: blur(1px);   
    }
   .content h1
   {
       text-align: center;
        font-size: 80px;
        margin: 0 35%;
        background-color: #588096;
        color: white;

   }
   img
   {
       height: 63px;
       width: 63px;
       border-radius: 550px;
   }
</style>
<br><br><br><br><br><br><br>
    
<section id="about" class="about">
    <div class="container">

      <div class="row content">
        <div  data-aos="fade-right" data-aos-delay="100">
          <h2>MIND GAMES</h2>
          <br><br>
          <h3>Lifestyle habits matter when it comes to brain health, and the rewards of increased mental stimulation 
            can be seen in a very short space of time.
            </h3>
        </div>
        </div>
      </div>

    </div>
  </section>

    
  <section id="services" class="services">
    <div class="container">

        <div class="col-lg-15">
          <div class="row" >
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="icon-box" style="background-color: whitesmoke;" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><img src="https://www.w3schools.com/colors/img_colormap.gif"></div>
                <h4><a href="/colors">Matching Colors</a></h4>
                <strong><p>Matching colors is a game where your color blending skills are used. You have to 
                  blend the colors together to match the background using either your mouse or arrow keys.There is 
                  a panel involving rgb(red,green,blue) color sliders are provided. Have fun playing with colors.
                  </p></strong>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box"  style="background-color: whitesmoke;"data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><img src="https://leverageedu.com/blog/wp-content/uploads/2020/03/Jumbled-Words.png"></div>
                <h4><a href="/arrange">Re_Arrange</a></h4>
               <strong> <p>ReArrange is a game for children including many categories like words, movies and phrases in which they have to rearrange the word
                  on the basis of the hint provided below.It is a fun game which doesnt involve any ranking.Go Have Fun</p></strong>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box"  style="background-color: whitesmoke;" data-aos="zoom-in" data-aos-delay="200" >
                <div class="icon"><img src="https://media.istockphoto.com/vectors/quiz-neon-text-banner-on-brick-wall-questions-team-game-quiz-night-vector-id1223692043?k=20&m=1223692043&s=612x612&w=0&h=vh-Qki7OHKdqusBsnTjlWOXYSSU6uIaUs2R72a2i1f4="></div>
                <h4><a href="/quiz">Quiz Game</a></h4>
                <strong><p>Quiz Game is a game with free general knowledge quiz questions and multiple choice answers.
                  Experts say playing trivia games can provide a dopamine rush much like gambling, without the negative effects.
                  If you happen to play online quiz games regularly, there are some things you might be better at 
                  when you are not playing. There are some truly fascinating mental health benefits that come with playing 
                  online quiz games. They can range from being sharp and competitive all the time, to take some time off
                   work and focus on yourself first. Read on to know more about whether online quiz games have any positive 
                   mental effect on the consumer. 
                </p></strong>
              </div>
            </div> 
            
            <div class="col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box"  style="background-color: whitesmoke;" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon"><img src="https://thumbs.dreamstime.com/z/transfer-arrows-icon-data-vector-recycling-sign-arrow-to-left-right-symbol-your-web-site-design-logo-illustration-202291609.jpg"></div>
                <h4><a href="/leftright">Left Right Game</a></h4>
                <strong><p>Brain teasers are like endurance/ speed enhancement work outs for your brain. Just like muscles, 
                  if you don’t use it, you lose it.This game is made taking concentration in concern. 
                  Let's Have some Fun concentrating</p></strong>
              </div>
            </div>              

          </div>
        </div>


    </div>
  </section>


<%- include("partials/footer"); -%>