<%- include("partials/headerAdults"); -%>

<style>
    body
    {
        background-image: url();
        background-size: contain;
        background-color: white;
        background-repeat: no-repeat;
        backdrop-filter: blur(1px);   
    }
   .content h1
   {
       text-align: center;
        font-size: 80px;
        margin: 0 35%;
        background-color: #588096;
        color: white;
   }
   img
   {
       height: 63px;
       width: 63px;
       border-radius: 550px;
   }
</style>
<br><br><br><br><br><br><br>
    
<section id="about" class="about">
    <div class="container">

      <div class="row content">
        <div  data-aos="fade-right" data-aos-delay="100">
          <h2>MIND GAMES</h2>
          <br><br>
          <h3>Lifestyle habits matter when it comes to brain health, and the rewards of increased mental stimulation 
            can be seen in a very short space of time.
            </h3>
        </div>
        </div>
      </div>

    </div>
  </section>
  
  <section id="services" class="services">
    <div class="container">

        <div class="col-lg-15">
          <div class="row" >
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="icon-box" style="background-color: whitesmoke;" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><img src="https://image.yaksgames.com/v2/game/a/4/a/a4a52580a2f116769f26acb333b74eb8.jpg?w=200"></div>
                <h4><a href="/silk">Weave Silk</a></h4>
                <p>Weavesilk--Generative Art, also known as Silk, is an amazing free online art tool that allows 
                    you to create colorful digital drawings. Silk was made by Yuri Vishnevsky, with music and sound
                     crafted by Mat Jarvis.On this website, you can draw beautiful flowing art with Silk. With 
                     Silk's award-winning magic brush, anyone can be an artist. Relax, express yourself, 
                     and create mandalas and wallpapers. With the swish of a finger, Silk strands mingle and fuse, 
                     weaving together into wonderful works of art.</p>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box"  style="background-color: whitesmoke;"data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><img src="https://images.unsplash.com/photo-1599669454699-248893623440?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGhlYWRwaG9uZXN8ZW58MHx8MHx8&w=1000&q=80"></div>
                <h4><a href="/noisless">Noisless</a></h4>
                <p>Noisless is a well integrated music tool.You can create your own music using various environmental elements.
                    You can control the intensity of the sounds and can also switch through various modes like productive
                    ,random or relaxing.Create your own music and bring out the artist in you..</p>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box"  style="background-color: whitesmoke;" data-aos="zoom-in" data-aos-delay="200" >
                <div class="icon"><img src="https://media.istockphoto.com/vectors/quiz-neon-text-banner-on-brick-wall-questions-team-game-quiz-night-vector-id1223692043?k=20&m=1223692043&s=612x612&w=0&h=vh-Qki7OHKdqusBsnTjlWOXYSSU6uIaUs2R72a2i1f4="></div>
                <h4><a href="/memory">Memory Game</a></h4>
                <p>The game consists of 16 cards with letters on one side and a background-image which is the same
                     on all cards. Each letter appears on precisely two cards. When the game starts, all tiles are
                      turned face down. The player then flips over two cards, selecting them by clicking on them. 
                      If the two cards have the same letter, they remain face up. Otherwise, the cards flip back 
                      over after a small period of time. The goal of the game is to get all the cards flipped face
                       up in the least number of tries. The player's performance is measured in terms of time and 
                       moves displayed in stars.
                </p>
              </div>
            </div> 
            
            <div class="col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box"  style="background-color: whitesmoke;" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZl17nLYNchawse1zmP5OwYk11GzTe4qkOc3mRJ27F9deHiKi7jhr2orY6PX_cKKNOvO8&usqp=CAU"></div>
                <h4><a href="/sinuous">Sinuous Game</a></h4>
                <p>Sinuous Game is a game with a single objective: avoid colliding with the red dots.
                  You can activate a boosts by picking up the rare green dots.This is built keeping in mind the quote
                "Focus on the good part"</p>
              </div>
            </div>              

          </div>
        </div>


    </div>
  </section>


<%- include("partials/footer"); -%>