<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mental Health</title>
        <link rel="stylesheet" href="/moodtracker/css/radio.css">
        <link rel="stylesheet" href="/moodtracker/css/index.css">
        <link rel="stylesheet" href="/moodtracker/css/articles.css">
        <link rel="stylesheet" href="/moodtracker/css/modal.css">
        <link rel="stylesheet" href="/moodtracker/css/navigation.css">
        <link rel="stylesheet" href="/moodtracker/css/profile.css">
        <link rel="stylesheet" href="/moodtracker/css/content.css">
        
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="/moodtracker/js/articles.js"></script>
        <script src="/moodtracker/js/helpers.js"></script>
        <script src="/moodtracker/js/wordCloud.js"></script>
        <script src="/moodtracker/js/index.js"></script>
    </head>
    <body>
        <div class="modal-shadow fill">
        </div>
        <main class="body fill">
            <div class="main">
                <div class="navigation fill">
                    <div class="logo-wrapper">
                        <img src="/moodTracker/img/logos/logo2.png" class="logo"/>
                    </div>
                    <div class="nav-buttons-container">
                    </div>
                    <div class="logout-wrapper">
                        <img src="/moodTracker/img/nav-icons/logout.png" class="logout"/>
                    </div>
                </div>
                <div class="content fill">

                </div>
                <div class="profile-wrapper">
                    <div class="profile fill">

                    </div>
                </div>
                <aside class="modal-window">
                </aside>
            </div>
        </main>
    </body>
</html>
