<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    

     <!-- Font Awesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
     <!-- custom stylesheet -->
     <link rel="stylesheet" href="/css/custom.css">
     <link href="/assets/css/styles.css" rel="stylesheet">
     <script src="/assets/js/main.js"></script>
    

    <title>Our Courses</title>
  </head>


  <body class="bg-light">
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container">
          <div class="header-container d-flex align-items-center justify-content-between">
            <div class="logo">
              <h1 class="text-light"><a href="index.html"><span>MINDY</span></a></h1>
              <!--<a href="index.html"><img src="/assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>
    
            <nav id="navbar" class="navbar">
              <ul>
                <li><a class="nav-link scrollto active" href="/#home-page">Home</a></li>
                <li><a class="nav-link scrollto" href="/read-more">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Consult</a></li>
                <li><a class="nav-link scrollto " href="#portfolio">Blogs/Journals</a></li>
                <li><a class="nav-link scrollto" href="#team">Contact</a></li>
                <li class="dropdown"><a href="#"><span>More</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href="#">Courses</a></li>
                    <li class="dropdown"><a href="#"><span>Mind Games</span> <i class="bi bi-chevron-right"></i></a>
                      <ul>
                        <li><a href="#">Kids</a></li>
                        <li><a href="#">Adults</a></li>
                        <li><a href="#">Middle Aged</a></li>
                        <li><a href="#">Senior citizens</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Mood Tracker</a></li>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#">Test your fitness</a></li>
                  </ul>
                </li>
                <li><a class="getstarted scrollto" href="/api/users/login">Login</a></li>
              </ul>
              <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
    
          </div><!-- End Header Container -->
        </div>
        <br>
      </header><!-- End Header -->

    <!-- Body starts here -->
    <div class="jumbotron mb-0 bg-banner" style="height:500px; padding-top:150px ; background-image: url(/images/background.jpg);">
        <div class="container">
            <div class="row align-items-end">
                <div class="col">
                    <div class="col-md-4 text-light">
                        <h1 class="display-5">This is our Resource Archive</h1>
                        <p class="lead">These might be helpful in finding your mental peace.</p>
                    </div>
                    <div class="col-md-6">  
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control form-control-lg col-9 border-right-0 rounded-radius-left" type="search" placeholder="What do you want to learn!" aria-label="Search">
                            <button class="btn btn-lg btn-danger border-left-0 rounded-radius-right col-2 my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="color-grad text-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="media">
                        <i class="fa fa-play-circle mr-3"></i>
                        <div class="media-body">
                            <h5 class="mt-0">Podcasts</h5>
                            <p>Choose from 65,000 podcasts with new additions published every month!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <i class="fa fa-certificate mr-3"></i>
                        <div class="media-body">
                            <h5 class="mt-0">Spotify Playlist</h5>
                            <p>Explore soothing Spotify Playlists curated by the best out there!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <i class="fa fa-spinner mr-3"></i>
                        <div class="media-body">
                            <h5 class="mt-0">Books</h5>
                            <p>Learn more about books that change your approach towards life, and shall calm your mind.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h3><small class="text-muted">Top Podcasts"</small></h3>
        <div class="card-deck">
            <div class="card mx-1">
                <span class="badge badge-info w-50 badge-style rounded-radius-right">FAN FAVOURITE</span>
                <img class="card-img-top" src="images/pod1.jpg" alt="image">
                <div class="card-body px-2">
                    <h6 class="card-title"><a href="https://www.calmsage.com/podcast-ep-40-finding-the-courage-to-change-your-life/">Podcast Ep. 40 –Finding The Courage To Change Your Life. You’ve Got This!</a></h6>
                    <p class="card-text" style="font-size:11px">Swarnakshi Sharma</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.5 (92.5k)</small>
                        <span class="d-block"></span>
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <span class="badge badge-info w-50 badge-style rounded-radius-right">MOST POPULAR</span>
                <img class="card-img-top" src="images/pod2.jpg" alt="image">
                <div class="card-body px-2">
                    <h6 class="card-title"><a href="https://www.calmsage.com/podcast-ep-39-what-i-learned-from-my-covid19-experience/">Podcast Ep. 39 – What I Learned from My Covid 19 Experience</a></h6>
                    <p class="card-text" style="font-size:11px">Chris Haroun</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.2 (107.3k)</small>
                        <span class="d-block"></span>
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <span class="badge badge-warning w-50 badge-style rounded-radius-right">TOP RATED</span>
                <img class="card-img-top" src="images/pod3.jpg" alt="image">
                <div class="card-body px-2">
                    <h6 class="card-title"><a href="https://www.calmsage.com/podcast-ep-38-face-discomfort-everyday-to-break-the-boundaries/">Podcast Ep. 38 – Face Discomfort Everyday To Break The Boundaries</a></h6>
                    <p class="card-text" style="font-size:11px">Akanksha Soni</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.8 (94.8k)</small>
                        <span class="d-block"></span> 
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <img class="card-img-top" src="images/pod4.jpg" alt="image">
                <div class="card-body px-2">
                    <h6 class="card-title"><a href="https://www.calmsage.com/podcast-ep-37-mental-health-lgbtq/">Podcast Ep. 37 - Mental Health & LGBTQ+</a></h6>
                    <p class="card-text" style="font-size:11px">Swarnakshi Sharma</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.4 (79.6k)</small>
                        <span class="d-block"></span>
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <img class="card-img-top" src="images/pod5.jpg" alt="image">
                <div class="card-body px-2">
                    <h6 class="card-title"><a href="https://www.calmsage.com/podcast-ep-36-how-to-deal-with-valentines-day-anxiety/">Podcast Ep. 36- How To Deal With Valentine’s Day Anxiety</a></h6>
                    <p class="card-text" style="font-size:11px">Mridula Nimawat</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.5 (90.3k)</small>
                        <span class="d-block"></span>
                    </p>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="container mt-5">
        <h3><small class="text-muted">Spotify Playlists</small></h3>
        <div class="card-deck">
            <div class="card mx-1">
                <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX504r1DvyvxG?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <div class="card-body px-2">
                    <h6 class="card-title">Classic Acoustic</h6>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.9</small>
                        <span class="d-block"></span>
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DXci7j0DJQgGp?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <div class="card-body px-2">
                    <h6 class="card-title">Hanging Out & Relaxing</h6>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.8</small>
                        <span class="d-block"></span>
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX1tuUiirhaT3?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <div class="card-body px-2">
                    <h6 class="card-title">Meditate to the Sounds of Nature</h6>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.7</small>
                        <span class="d-block"></span>
                        </span> 
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX3Ogo9pFvBkY?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <div class="card-body px-2">
                    <h6 class="card-title">Ambient Relaxation</h6>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.6</small>
                        <span class="d-block"></span>
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX4WYpdgoIcn6?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                <div class="card-body px-2">
                    <h6 class="card-title">Chill Hits</h6>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.5</small>
                        <span class="d-block"></span>
                    </p>
                </div>
            </div>
            
        </div>
    </div>

    <div class="container mt-5">
        <h3><small class="text-muted">Top Books</small></h3>
        <div class="card-deck">
            <div class="card mx-1">
                <span class="badge badge-info w-50 badge-style rounded-radius-right">BEST SELLING</span>
                <img class="card-img-top" src="images/book1.png" alt="image">
                <div class="card-body px-2">
                    <h6 class="card-title"><a href="https://amzn.to/2RB0V9b">The Gifts Of Imperfection</a></h6>
                    <p class="card-text" style="font-size:11px">Brene Brown</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.7</small>
                        <span class="d-block"></span>
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <span class="badge badge-info w-50 badge-style rounded-radius-right">BEST SELLING</span>
                <img class="card-img-top" src="images/book2.png" alt="image">
                <div class="card-body px-2">
                    <h6 class="card-title"><a href="https://amzn.to/2RCzmfW">The Miracle Of Mindfulness</a></h6>
                    <p class="card-text" style="font-size:11px">Thich Nhat Hanh</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.5</small>
                        <span class="d-block"></span>
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <span class="badge badge-warning w-50 badge-style rounded-radius-right">TOP RATED</span>
                <img class="card-img-top" src="images/book3.png" alt="image">
                <div class="card-body px-2">
                    <h6 class="card-title"><a href="https://amzn.to/2DovnR7">Happiness: A Guide to Developing Life’s Most Important Skill</a></h6>
                    <p class="card-text" style="font-size:11px">Matthieu Ricard</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.6</small>
                        <span class="d-block"></span>
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <img class="card-img-top" src="images/book4.png" alt="image">
                <div class="card-body px-2">
                    <h6 class="card-title"><a href="https://amzn.to/2D6WHCa">When Things Fall Apart: Heart Advice For Difficult Times</a></h6>
                    <p class="card-text" style="font-size:11px">Pema Chodron</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.6</small>
                        <span class="d-block"></span>
                    </p>
                </div>
            </div>

            <div class="card mx-1">
                <img class="card-img-top" src="images/book5.png" alt="image">
                <div class="card-body px-2">
                    <h6 class="card-title"><a href="https://amzn.to/2DkZV6j">Tiny Beautiful Things</a></h6>
                    <p class="card-text" style="font-size:11px">Cheryl Strayed</p>
                    <p class="card-text"><small class="text-muted">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star-half text-warning"></i>
                        4.6</small>
                        <span class="d-block"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    
    <div class="container mt-5">
        <h3><small class="text-muted">Discover Our Popular Resources</small></h3>
        <div class="row">
            <div class="col-sm-4">
                <a href="resources.ejs" class="btn btn-lg btn-block btn-info">PODCASTS</a>
            </div>
            <div class="col-sm-4">
                <a href="resources.ejs" class="btn btn-lg btn-block btn-secondary">SPOTIFY PLAYLISTS</a>
            </div>
            <div class="col-sm-4">
                <a href="resources.ejs" class="btn btn-lg btn-block btn-primary">BOOKS</a>
            </div>
        </div>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    <!-- initialize popover library -->
    <script>
        $(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>

<%- include("partials/footer"); -%>