<%- include("../partials/headermidaged"); -%>

<br><br>
<section id="testimonials" class="testimonials">
    <div class="container">

      
        <div style="justify-content: center; text-align: center ;">
          <div class="section-title justify-content-center" data-aos="fade-right">
            <h1>Therapists</h1>
            <p>Here are some highly qualified therapists/psychiatrists associated with us.
            </p>
          </div>
        </div>
        <div class="" data-aos="fade-up" data-aos-delay="100">

          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">


              <div class="swiper-slide">
                <div class="testimonial-item" style="overflow: hidden;">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    “You can’t control everything. Sometimes you just need to relax and have faith that things will work out. 
                    Let go a little and just let life happen.”<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="https://utahblood.org/resources/images/story-images/AlyssaLarsen.jpg" class="testimonial-img" alt="">
                  <h3>KADAMBARI SHAHANE</h3>
                  <pre><h4>1yrs experience      B.A,M.A      Next Slot:09 Jan</h4></pre>
                  <button type="submit" style="margin: 5px;"class="btn btn-primary">BOOK</button>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Emotional pain is not something that should be hidden away and never spoken about. There is truth in your pain, there is growth in your pain, but only if it’s first brought out into the open.<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="https://utahblood.org/resources/images/story-images/KendrahYardley.jpg" class="testimonial-img" alt="">
                  <h3>SHRISTI BAJORIA</h3>
                  <pre><h4>1yrs experience      B.A,M.A      Next Slot:09 Jan</h4></pre>
                  <button type="submit" style="margin: 5px;"class="btn btn-primary">BOOK</button>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Recovery is not one and done. It is a lifelong journey that takes place one day, one step at a time<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="https://haircutinspiration.com/wp-content/uploads/Teen-Boy-Haircuts-1-1-.jpg" class="testimonial-img" alt="">
                  <h3>Nate Neilsen</h3>
                  <pre><h4>1yrs experience      B.A,M.A      Next Slot:09 Jan</h4></pre>
                  <button type="submit" style="margin: 5px;"class="btn btn-primary">BOOK</button>
                </div>
              </div><!-- End testimonial item -->   
              
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Sometimes you climb out of bed in the morning and you think, I’m not going to make it, but you laugh inside — remembering all the times you’ve felt that way.<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="https://assets.website-files.com/5f81f5a773dffc8e3eb0357a/5f832f2686c451f871561a82_customer1.jpg" class="testimonial-img" alt="">
                  <h3>Paige Nortan</h3>
                  <pre><h4>1yrs experience      B.A,M.A      Next Slot:09 Jan</h4></pre>
                  <button type="submit" style="margin: 5px;"class="btn btn-primary">BOOK</button>
                </div>
              </div><!-- End testimonial item -->                

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Recovery is not one and done. It is a lifelong journey that takes place one day, one step at a time.<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="https://utahblood.org/resources/images/story-images/BeckyModderman.jpg" class="testimonial-img" alt="">
                  <h3>Becky Modderman</h3>
                  <pre><h4>1yrs experience      B.A,M.A      Next Slot:09 Jan</h4></pre>
                  <button type="submit" style="margin: 5px;"class="btn btn-primary">BOOK</button>
                </div>
              </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      

    </div>
  </section>
<%- include("../partials/footer"); -%>